body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f5;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    border-radius:12px;
    text-align:center;
    width:100%;
    max-width: 900px;
}

table {
    width:100%;
    border-collapse: collapse;
    margin-top:30px;
}

th, td{
    border: 1px solid #e0e0e5;
    padding:12px;
    text-align: left;
}

th {
    background-color: #f5f5f7;
    color:#1d1d1f;
}

button.btn-detalles {
    background-color: #e97911; /* Color azul característico de macOS */
    color: white; /* Texto blanco */
    border: 1px solid white; /* Borde del mismo color que el fondo */
    border-radius: 12px; /* Bordes redondeados */
    padding: 10px 20px;
    margin:2px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    outline: none; /* Eliminar borde al enfocar */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
}

button.btn-detalles:hover {
    background-color: #10a383; /* Color más oscuro al pasar el ratón */
    border-color: white; /* Cambio de borde al pasar el ratón */
}

button.btn-detalles:active {
    background-color: #10a383; /* Color más oscuro cuando se hace clic */
    border-color: white; /* Cambio de borde cuando se hace clic */
}

button.btn-detalles:focus {
    outline: none; /* Eliminar el borde azul cuando se hace focus en el botón */
}
#edit-button{
    background-color: #17a571; /* Color azul característico de macOS */
    color: white; /* Texto blanco */
    border: 1px solid white; /* Borde del mismo color que el fondo */
    border-radius: 12px; /* Bordes redondeados */
    padding: 10px 20px;
    margin:2px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    outline: none; /* Eliminar borde al enfocar */
    transition: background-color 0.3s, border-color 0.3s;
}
#edit-button:hover{
    background-color: #e97911;
}
#delete-button{
    background-color: red; /* Color azul característico de macOS */
    color: white; /* Texto blanco */
    border: 1px solid white; /* Borde del mismo color que el fondo */
    border-radius: 12px; /* Bordes redondeados */
    padding: 10px 20px;
    margin:2px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    outline: none; /* Eliminar borde al enfocar */
    transition: background-color 0.3s, border-color 0.3s;
}
#delete-button:hover{
    background-color: black;
}
/* Inputs */
input[type="text"], input[type="number"], input[type="email"], input[type="password"], textarea {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #e0e0e5;
    border-radius: 12px;
    background-color: #f5f5f7;
    color: #1d1d1f;
    box-sizing: border-box; /* Para que el padding no afecte el tamaño total */
    transition: border-color 0.3s, background-color 0.3s;
    outline: none;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-color: #007aff; /* Color del borde cuando está enfocado */
    background-color: #ffffff; /* Fondo blanco cuando se enfoca */
}

input[type="text"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="password"]:hover {
    border-color: #007aff; /* Color del borde al pasar el ratón */
}
